<body style="background-image: url('https://wallpaperaccess.com/full/1659889.jpg')"></body>

<h1 style="font-family: fantasy; text-align: center">Gladiator <%= @game.player_2.name %>, you have been killed by the mighty Gladiator <%= @game.player_1.name %>!</h1>

<audio autoplay>
  <source src='https://www.myinstants.com/media/sounds/16_2.mp3' type='audio/mp3'/>
Your browser does not support the audio element.
</audio>

<center><img style="border: 5px groove firebrick;" src="https://i.pinimg.com/originals/d6/08/cb/d608cba11b7f2dedcfdc8977c753d7ca.jpg" alt="Gladiator Death!" width="600" height="500"></center>
