
<h1>Gladiator! Are You Ready For Battle!?</h1>
<h3>Enter your player names:</h3>

<form action="/names" method="post">
  <input type="text" name="player_1_name">
  <h3>Vs</h3>
  <input type="text" name="player_2_name">
  <h3></h3>
  <input type="submit" value="Submit">
</form>
